
/*Cambios en los estilos del menu*/
nav{
    background-color: #08605f!important;
}

/*.active{
    background-color: #6a0126!important;
}*/

.navbar-fixed { z-index: 9999; }


nav a:hover{
    color: white;  
    text-decoration: none!important;
}


nav li:hover{
    background-color: #6a0126;  
}


/*Estilo para el logo de la página*/
.brand-logo{
    margin-left: 10px;
}

.brand-logo img{
    height: 100%;
    width: 200px;
}

/*Estilo de la imagen de home*/
/*Imagen de la pantalla home*/
#backgroundimage
{
    height: auto;
    left: 0;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

/*Estilo para el contenedor principal*/
.main-container{
    min-height: 700px;
}


/*Cambio de tamaño de texto para navbar*/
.fontSizeNav a{
    font-size: medium!important;
}


/*Estilos para los graficos*/
/*Temperatura*/
.highcharts-yaxis-grid .highcharts-grid-line {
	display: none;
}

/*Estilo de los graficos, el frame debe ser aproximadamente el doble que el interno*/
.chart-frame{
    width: 100%;
    height: 400px;
    margin: 0 ;
}

.chart{
    width: 50%; 
    height: 50%; 
    float: left;

}

/*Remove text decoration allwhere*/
a{
    text-decoration: none;
}


/*Fab button*/
.btn-small{
    margin-bottom: 10px!important;
    background-color: #08605f;
}

@media only screen and (max-width: 768px) {
.chart-frame{
    width: 100%;
    height: 400px;
    margin: 0 ;
}

.chart{
    width: 100%; 
    height: 50%; 
    float: right;

}  
}
